<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.service_outsourcing.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.example.service_outsourcing.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.service_outsourcing.entity.Department">
    insert into department (id, depart_name)
    values (#{id,jdbcType=INTEGER}, #{departName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.service_outsourcing.entity.Department">
    update department
    set depart_name = #{departName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, depart_name
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>