<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.service_outsourcing.mapper.ResumeMapper" >
  <resultMap id="BaseResultMap" type="com.example.service_outsourcing.entity.Resume" >
    <id column="resume_id" property="resumeId" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from resume
    where resume_id = #{resumeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.service_outsourcing.entity.Resume" >
    insert into resume (resume_id, employee_id)
    values (#{resumeId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.service_outsourcing.entity.Resume" >
    update resume
    set employee_id = #{employeeId,jdbcType=VARCHAR}
    where resume_id = #{resumeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select resume_id, employee_id
    from resume
    where resume_id = #{resumeId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select resume_id, employee_id
    from resume
  </select>
</mapper>