<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.service_outsourcing.mapper.SelfEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.example.service_outsourcing.entity.SelfEvaluate" >
    <id column="self_evaluate_id" property="selfEvaluateId" jdbcType="VARCHAR" />
    <result column="resume_id" property="resumeId" jdbcType="VARCHAR" />
    <result column="evaluate_describe" property="evaluateDescribe" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from self_evaluate
    where self_evaluate_id = #{selfEvaluateId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.service_outsourcing.entity.SelfEvaluate" >
    insert into self_evaluate (self_evaluate_id, resume_id, evaluate_describe
      )
    values (#{selfEvaluateId,jdbcType=VARCHAR}, #{resumeId,jdbcType=VARCHAR}, #{evaluateDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.service_outsourcing.entity.SelfEvaluate" >
    update self_evaluate
    set resume_id = #{resumeId,jdbcType=VARCHAR},
      evaluate_describe = #{evaluateDescribe,jdbcType=VARCHAR}
    where self_evaluate_id = #{selfEvaluateId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select self_evaluate_id, resume_id, evaluate_describe
    from self_evaluate
    where self_evaluate_id = #{selfEvaluateId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select self_evaluate_id, resume_id, evaluate_describe
    from self_evaluate
  </select>
</mapper>